/* global styling */

:root {
    --green: #37b00c;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background-color: #000;
}

h1,
h2,
p {
    margin-bottom: 2rem;
}

/* navbar */

nav {
    font-size: 1.75rem;
    padding: 2rem 0 !important;
    transition: .2s;
}

nav.scrolled {
    background-color: #000;
}

nav .btn-hamburger {
    font-size: 1.5rem;
}

nav .navbar-brand {
    margin-left: 5rem;
    font-size: 1.75rem;
    font-weight: bold;
}

nav span {
    font-size: 1.75rem;
}

.text-green {
    color: var(--green);
}

/* offcanvas */

nav .offcanvas ul li a {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 1rem 5rem;
    width: 100%;
}

nav .offcanvas ul li a:hover {
    background-color: rgba(0, 0, 0, .1);
}

nav .offcanvas ul li a.active {
    background-color: rgba(0, 0, 0, .1);
}

/* Section Hero */

#hero {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .64), rgba(0, 0, 0, .64)), url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 14rem 0 20rem 0;
}

#hero .text-box {
    width: 60%;
    margin: 0 auto;
}

#hero .text-box h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

#hero .text-box h3 {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 300;
}

#hero .text-box h3 {
    width: 75%;
    margin: 0 auto;
}

#hero .btn-temukan {
    display: inline-block;
    margin: 4rem auto;
    padding: 1.1rem 9rem;
    background-color: var(--green);
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    box-shadow: 0 7px 27px rgba(55, 176, 12, .57);
}

.pengertian-kulinerid {
    padding: 20rem 0 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    margin-top: 3rem;
    font-size: 1.25rem;
    width: 45%;
    line-height: 1.75;
}

#hero .backToTop {
    height: 5rem;
    width: 5rem;
    position: fixed;
    bottom: -6rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    border-radius: 20%;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .8);
    transition: .3s ease;
    opacity: 0;
}

#hero .backToTop:hover {
    cursor: pointer;
    padding-top: 1.9rem;
}

#hero .backToTop.show {
    bottom: 2rem;
    opacity: 1;
}

/* Section daerah */

#daerah .bg-light {
    padding: 5rem 0 10rem;
}

#daerah p::after {
    content: '';
    display: block;
    width: 17%;
    height: 0.4em;
    background-color: #37b00c;
    border-radius: 2rem;
    margin: 2rem auto 4rem;
}

.daerah-container {
    height: 35rem;
    display: flex;
    gap: 2px;
    margin-top: 5rem;
}

.daerah-container a {
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
    flex: 1;
    position: relative;
    border-radius: 2px;
}

.daerah-container h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    transition: .3s;
    font-weight: 700;
}

.daerah-container .img-daerah {
    filter: brightness(.3);
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.daerah-container a:hover {
    flex: 4;
}

.daerah-container a:hover .img-daerah {
    filter: brightness(.8);
}

.daerah-container a:hover h3.daerah {
    background-color: var(--green);
    width: 100%;
    padding: 1rem 0;
}

/* Footer */

#footer {
    font-size: 1.25rem;
}

/* Laptop */

@media (max-width: 1440px) {
    #hero .text-box {
        width: 60%;
    }

    p {
        width: 60%;
    }

    .pengertian-kulinerid p {
        margin-top: 3rem;
        font-size: 1.25rem;
        line-height: 1.75;
    }

}

/* Tablet */

@media (max-width: 992px) {
    * {
        font-size: 12px;
    }

    nav .container {
        width: 90% !important;
    }

    #hero .text-box {
        width: 75%;
    }

    #hero h1 {
        font-size: 4rem !important;
    }

    #hero h3 {
        font-size: 1.5rem !important;
    }

    #hero .btn-temukan {
        padding: 1.2rem 7rem !important;
    }

    p {
        width: 100% !important;
    }

    .daerah-container {
        height: 65rem;
        flex-direction: column;
    }

    .daerah-container a:hover {
        flex: 1;
    }

    span.text-green {
        font-size: 2.5rem;
    }

    nav span.text-green {
        font-size: 2rem;
    }
}

/* Mobile */